ClienteSistemaClinica/src/wsdl/localhost_8080/ServidorSistemaClinica/PacienteWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="PacienteWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServidorSistemaClinica/PacienteWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findpa">
<part name="parameters" element="tns:findpa"/>
</message>
<message name="findpaResponse">
<part name="parameters" element="tns:findpaResponse"/>
</message>
<message name="findentitiespa">
<part name="parameters" element="tns:findentitiespa"/>
</message>
<message name="findentitiespaResponse">
<part name="parameters" element="tns:findentitiespaResponse"/>
</message>
<message name="countpa">
<part name="parameters" element="tns:countpa"/>
</message>
<message name="countpaResponse">
<part name="parameters" element="tns:countpaResponse"/>
</message>
<message name="crearpa">
<part name="parameters" element="tns:crearpa"/>
</message>
<message name="crearpaResponse">
<part name="parameters" element="tns:crearpaResponse"/>
</message>
<message name="editpa">
<part name="parameters" element="tns:editpa"/>
</message>
<message name="editpaResponse">
<part name="parameters" element="tns:editpaResponse"/>
</message>
<portType name="PacienteWS">
<operation name="findpa">
<input wsam:Action="http://ws/PacienteWS/findpaRequest" message="tns:findpa"/>
<output wsam:Action="http://ws/PacienteWS/findpaResponse" message="tns:findpaResponse"/>
</operation>
<operation name="findentitiespa">
<input wsam:Action="http://ws/PacienteWS/findentitiespaRequest" message="tns:findentitiespa"/>
<output wsam:Action="http://ws/PacienteWS/findentitiespaResponse" message="tns:findentitiespaResponse"/>
</operation>
<operation name="countpa">
<input wsam:Action="http://ws/PacienteWS/countpaRequest" message="tns:countpa"/>
<output wsam:Action="http://ws/PacienteWS/countpaResponse" message="tns:countpaResponse"/>
</operation>
<operation name="crearpa">
<input wsam:Action="http://ws/PacienteWS/crearpaRequest" message="tns:crearpa"/>
<output wsam:Action="http://ws/PacienteWS/crearpaResponse" message="tns:crearpaResponse"/>
</operation>
<operation name="editpa">
<input wsam:Action="http://ws/PacienteWS/editpaRequest" message="tns:editpa"/>
<output wsam:Action="http://ws/PacienteWS/editpaResponse" message="tns:editpaResponse"/>
</operation>
</portType>
<binding name="PacienteWSPortBinding" type="tns:PacienteWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findpa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findentitiespa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countpa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearpa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editpa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PacienteWS">
<port name="PacienteWSPort" binding="tns:PacienteWSPortBinding">
<soap:address location="http://localhost:8080/ServidorSistemaClinica/PacienteWS"/>
</port>
</service>
</definitions>