ClienteSistemaClinica/src/wsdl/localhost_8080/ServidorSistemaClinica/PersonaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="PersonaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServidorSistemaClinica/PersonaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="crearp">
<part name="parameters" element="tns:crearp"/>
</message>
<message name="crearpResponse">
<part name="parameters" element="tns:crearpResponse"/>
</message>
<message name="editp">
<part name="parameters" element="tns:editp"/>
</message>
<message name="editpResponse">
<part name="parameters" element="tns:editpResponse"/>
</message>
<message name="findp">
<part name="parameters" element="tns:findp"/>
</message>
<message name="findpResponse">
<part name="parameters" element="tns:findpResponse"/>
</message>
<message name="findentitiesp">
<part name="parameters" element="tns:findentitiesp"/>
</message>
<message name="findentitiespResponse">
<part name="parameters" element="tns:findentitiespResponse"/>
</message>
<message name="countp">
<part name="parameters" element="tns:countp"/>
</message>
<message name="countpResponse">
<part name="parameters" element="tns:countpResponse"/>
</message>
<portType name="PersonaWS">
<operation name="crearp">
<input wsam:Action="http://ws/PersonaWS/crearpRequest" message="tns:crearp"/>
<output wsam:Action="http://ws/PersonaWS/crearpResponse" message="tns:crearpResponse"/>
</operation>
<operation name="editp">
<input wsam:Action="http://ws/PersonaWS/editpRequest" message="tns:editp"/>
<output wsam:Action="http://ws/PersonaWS/editpResponse" message="tns:editpResponse"/>
</operation>
<operation name="findp">
<input wsam:Action="http://ws/PersonaWS/findpRequest" message="tns:findp"/>
<output wsam:Action="http://ws/PersonaWS/findpResponse" message="tns:findpResponse"/>
</operation>
<operation name="findentitiesp">
<input wsam:Action="http://ws/PersonaWS/findentitiespRequest" message="tns:findentitiesp"/>
<output wsam:Action="http://ws/PersonaWS/findentitiespResponse" message="tns:findentitiespResponse"/>
</operation>
<operation name="countp">
<input wsam:Action="http://ws/PersonaWS/countpRequest" message="tns:countp"/>
<output wsam:Action="http://ws/PersonaWS/countpResponse" message="tns:countpResponse"/>
</operation>
</portType>
<binding name="PersonaWSPortBinding" type="tns:PersonaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findentitiesp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonaWS">
<port name="PersonaWSPort" binding="tns:PersonaWSPortBinding">
<soap:address location="http://localhost:8080/ServidorSistemaClinica/PersonaWS"/>
</port>
</service>
</definitions>