ClienteSistemaClinica/src/wsdl/localhost_8080/ServidorSistemaClinica/PersonaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="countp" type="tns:countp"/>

<xs:element name="countpResponse" type="tns:countpResponse"/>

<xs:element name="crearp" type="tns:crearp"/>

<xs:element name="crearpResponse" type="tns:crearpResponse"/>

<xs:element name="editp" type="tns:editp"/>

<xs:element name="editpResponse" type="tns:editpResponse"/>

<xs:element name="findentitiesp" type="tns:findentitiesp"/>

<xs:element name="findentitiespResponse" type="tns:findentitiespResponse"/>

<xs:element name="findp" type="tns:findp"/>

<xs:element name="findpResponse" type="tns:findpResponse"/>

<xs:complexType name="crearp">
<xs:sequence>
<xs:element name="persona" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="rol" type="xs:int" minOccurs="0"/>
<xs:element name="sexo" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="telfCelular" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearpResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findp">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findpResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findentitiesp">
<xs:sequence>
<xs:element name="fi" type="xs:int"/>
<xs:element name="max" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findentitiespResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editp">
<xs:sequence>
<xs:element name="persona" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editpResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countp">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countpResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>