ClienteSistemaClinica/src/wsdl/localhost_8080/ServidorSistemaClinica/RecetaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="RecetaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServidorSistemaClinica/RecetaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="crearr">
<part name="parameters" element="tns:crearr"/>
</message>
<message name="crearrResponse">
<part name="parameters" element="tns:crearrResponse"/>
</message>
<message name="editr">
<part name="parameters" element="tns:editr"/>
</message>
<message name="editrResponse">
<part name="parameters" element="tns:editrResponse"/>
</message>
<message name="findr">
<part name="parameters" element="tns:findr"/>
</message>
<message name="findrResponse">
<part name="parameters" element="tns:findrResponse"/>
</message>
<message name="findentitier">
<part name="parameters" element="tns:findentitier"/>
</message>
<message name="findentitierResponse">
<part name="parameters" element="tns:findentitierResponse"/>
</message>
<message name="countr">
<part name="parameters" element="tns:countr"/>
</message>
<message name="countrResponse">
<part name="parameters" element="tns:countrResponse"/>
</message>
<portType name="RecetaWS">
<operation name="crearr">
<input wsam:Action="http://ws/RecetaWS/crearrRequest" message="tns:crearr"/>
<output wsam:Action="http://ws/RecetaWS/crearrResponse" message="tns:crearrResponse"/>
</operation>
<operation name="editr">
<input wsam:Action="http://ws/RecetaWS/editrRequest" message="tns:editr"/>
<output wsam:Action="http://ws/RecetaWS/editrResponse" message="tns:editrResponse"/>
</operation>
<operation name="findr">
<input wsam:Action="http://ws/RecetaWS/findrRequest" message="tns:findr"/>
<output wsam:Action="http://ws/RecetaWS/findrResponse" message="tns:findrResponse"/>
</operation>
<operation name="findentitier">
<input wsam:Action="http://ws/RecetaWS/findentitierRequest" message="tns:findentitier"/>
<output wsam:Action="http://ws/RecetaWS/findentitierResponse" message="tns:findentitierResponse"/>
</operation>
<operation name="countr">
<input wsam:Action="http://ws/RecetaWS/countrRequest" message="tns:countr"/>
<output wsam:Action="http://ws/RecetaWS/countrResponse" message="tns:countrResponse"/>
</operation>
</portType>
<binding name="RecetaWSPortBinding" type="tns:RecetaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findentitier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RecetaWS">
<port name="RecetaWSPort" binding="tns:RecetaWSPortBinding">
<soap:address location="http://localhost:8080/ServidorSistemaClinica/RecetaWS"/>
</port>
</service>
</definitions>