ClienteSistemaClinica/src/wsdl/localhost_8080/ServidorSistemaClinica/RecetaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="countr" type="tns:countr"/>

<xs:element name="countrResponse" type="tns:countrResponse"/>

<xs:element name="crearr" type="tns:crearr"/>

<xs:element name="crearrResponse" type="tns:crearrResponse"/>

<xs:element name="editr" type="tns:editr"/>

<xs:element name="editrResponse" type="tns:editrResponse"/>

<xs:element name="findentitier" type="tns:findentitier"/>

<xs:element name="findentitierResponse" type="tns:findentitierResponse"/>

<xs:element name="findr" type="tns:findr"/>

<xs:element name="findrResponse" type="tns:findrResponse"/>

<xs:complexType name="findr">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findrResponse">
<xs:sequence>
<xs:element name="return" type="tns:receta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="receta">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idCita" type="xs:int"/>
<xs:element name="idReceta" type="xs:int" minOccurs="0"/>
<xs:element name="indicaciones" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editr">
<xs:sequence>
<xs:element name="receta" type="tns:receta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editrResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearr">
<xs:sequence>
<xs:element name="receta" type="tns:receta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearrResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countr">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countrResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findentitier">
<xs:sequence>
<xs:element name="fi" type="xs:int"/>
<xs:element name="max" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findentitierResponse">
<xs:sequence>
<xs:element name="return" type="tns:receta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>