ClienteSistemaClinica/src/wsdl/localhost_8080/ServidorSistemaClinica/SucursalWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="SucursalWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServidorSistemaClinica/SucursalWS?xsd=1"/>
</xsd:schema>
</types>
<message name="crears">
<part name="parameters" element="tns:crears"/>
</message>
<message name="crearsResponse">
<part name="parameters" element="tns:crearsResponse"/>
</message>
<message name="edits">
<part name="parameters" element="tns:edits"/>
</message>
<message name="editsResponse">
<part name="parameters" element="tns:editsResponse"/>
</message>
<message name="finds">
<part name="parameters" element="tns:finds"/>
</message>
<message name="findsResponse">
<part name="parameters" element="tns:findsResponse"/>
</message>
<portType name="SucursalWS">
<operation name="crears">
<input wsam:Action="http://ws/SucursalWS/crearsRequest" message="tns:crears"/>
<output wsam:Action="http://ws/SucursalWS/crearsResponse" message="tns:crearsResponse"/>
</operation>
<operation name="edits">
<input wsam:Action="http://ws/SucursalWS/editsRequest" message="tns:edits"/>
<output wsam:Action="http://ws/SucursalWS/editsResponse" message="tns:editsResponse"/>
</operation>
<operation name="finds">
<input wsam:Action="http://ws/SucursalWS/findsRequest" message="tns:finds"/>
<output wsam:Action="http://ws/SucursalWS/findsResponse" message="tns:findsResponse"/>
</operation>
</portType>
<binding name="SucursalWSPortBinding" type="tns:SucursalWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crears">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="finds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SucursalWS">
<port name="SucursalWSPort" binding="tns:SucursalWSPortBinding">
<soap:address location="http://localhost:8080/ServidorSistemaClinica/SucursalWS"/>
</port>
</service>
</definitions>